* {
    font-family: Helvetica, Verdana, sans-serif;
    /*text-align: center;*/
}

body.main {
    width: 480px;
    margin: 0 auto;
    text-align: center;
    background-color: hsl(221, 24%, 64%);
}

ul.main {
    padding: 24px;
    border: 2px solid #313131;
}

.main {
    color: #313131;
}

.recipe1 {
    background-color: #c0b26a;
}

.recipe2 {
    background-color: #e3bfa4;
}

.recipe3 {
    background-color: #efd8b1;
}